body{
    font-family: 'Poppins', sans-serif;
}
.custom-style {
position: relative;
left: 20px;
}
.input-field{
    outline: none;
    border: none;
    background-color: lightgray;
}
img{
    height: 194px;
    width: 250px;
}
.area-calculation{
    height: 500px;
    width: 300px;
}
#triangle-border{
    background-color: white;
}
#rectangle-border{
    background-color: white;
}
#parallelogram-border{
    background-color: white;
}
#rhombus-border{
    background-color: white;
}
#pentagon-border{
    background-color: white;
}
#ellipse-border{
    background-color: white;
}